@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";


:root {
  --background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 237, 255, 1) 50%, rgba(255, 125, 255, 1) 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Raleway", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090E16;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Raleway", sans-serif;
}
